body{
    background:crimson;
}
.edit{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%; 
    border:8px solid rgb(37, 181, 35);
    background:rgba(58, 10, 218, 0.838);
    border-radius: 8px;
}